.navbar {
  width: 100%;
  background-color: #222; /* Dark theme background */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
border-top: 0.5px solid #fff;
}

.show {
  display: flex !important;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 100%; /* Takes the full height of the navbar */
  width: auto; /* Maintain aspect ratio */
  max-height: 80px; /* Increased height for a larger logo */
  max-width: 250px; /* Increased width for a larger logo */
  object-fit: contain;
}

.logoText {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Active NavLink */
.nav-link.active {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

/* NavLink general styles */
.nav-link {
  color: #ddd;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fff;
}
